<div class="database-container">
    <div class="row-profile">
        <app-profile-symbol></app-profile-symbol>
    </div>


    <div class="row-content">
        <div class="title-container">
            <span class="title-text">Database List</span>
        </div>

        <div class="databases-grid-container">
            <div *ngFor="let database of databases" class="database-item"
                (click)="navigateToDatabaseImages(database.id, database.name)" (mouseleave)="closeDatabaseDropdown(database.id)">
                <div class="row-folder">
                    <span class="material-symbols-outlined database-icon">
                        folder
                    </span>
                </div>
                <div class="row-text">
                    <span class="database-text">{{ database.name }}</span>
                    <span class="material-symbols-outlined" id="more-icon"
                        (click)="toggleDatabaseDropdown(database.id)">
                        more_vert
                    </span>
                </div>

                <div class="database-dropdown" *ngIf="openDropdowns[database.id]" appClickOutside
                    (clickOutside)="closeDatabaseDropdown(database.id)">
                    <button class="dropdown-item">
                        <span class="material-symbols-outlined">edit</span>
                        Edit Database
                    </button>
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">
                        <span class="material-symbols-outlined">
                            download
                        </span>
                        Download Database
                    </button>
                    <mat-divider></mat-divider>
                    <button class="dropdown-item">
                        <span class="material-symbols-outlined">delete</span>
                        Delete Database
                    </button>
                </div>
            </div>

            <div class="database-item new-database-item" (click)="navigateToDatabaseRegister()">
                <div class="row-folder">
                    <span class="material-symbols-outlined add-database-icon">
                        create_new_folder
                    </span>
                </div>
                <div class="row-text">
                    <span class="add-database-text">New Database</span>
                </div>
            </div>
        </div>
    </div>
</div>