.row-profile {
  position: fixed;
  right: 10px;
  z-index: 1000;
}

.row-content {
  padding-top: 1px;
}

#add-database-icon {
  font-size: 90px;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  .title-text {
    font-size: 30px;
    font-weight: 600;
  }
}

.new-database-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.row-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 0;

  .new-database-text {
    font-size: 20px;
    font-weight: 600;
  }
}
