<div class="register-database">
    <div class="register-database-container">
        <div class="title">
            <h2>Edit Dataset</h2>
        </div>

        <form class="register-database-form" #form="ngForm" (ngSubmit)="onEditDatabase()">
            <mat-form-field class="name">
                <mat-label>Enter the database name</mat-label>
                <input matInput placeholder="database name" [formControl]="name" required />
                <mat-error *ngIf="errorMessage()">
                    {{ errorMessage() }}
                </mat-error>
            </mat-form-field>

            <button mat-icon-button class="add-files-button" (click)="openFileSelector($event)">
                <span class="material-symbols-outlined">
                    folder
                </span>
                <span class="add-files-text">Add files</span>
            </button>

            <input type="file" #fileInput (change)="onFilesSelected($event)" multiple accept="image/*"
                style="display: none" />

            <div *ngIf="selectedFiles.length > 0" class="file-list">
                <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
                    <span [ngClass]="file.existing ? 'file-existing' : 'file-new'"
                        [style.textDecoration]="file.markedForRemoval ? 'line-through' : 'none'"
                        [style.opacity]="file.markedForRemoval ? 0.5 : 1">
                        {{ file.name }}
                    </span>
                    <button mat-icon-button color="warn" type="button" (click)="markForRemoval(i)">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>

            </div>


            <button class="add-database-button" mat-raised-button color="primary" type="submit">Save changes</button>
        </form>

        <div class="button-back">
            <a href="/database" class="login-link">Return to Databases List</a>
        </div>
    </div>

</div>