<div class="homepage">
    <div class="toolbar">
        <button class="logo">Logo</button>
        <button class="segmentation" matTooltip="Automatic Segmentation">Automatic Segmentation</button>

        <div class="brush-size-control">
            <input type="range" min="1" max="50" [value]="brushSize" (input)="updateBrushSize($event)" />
            <div class="brush-preview" [ngStyle]="{
                width: brushSize + 'px',
                height: brushSize + 'px',
                background: brushColor
                }">
            </div>
        </div>

        <div class="together color-picker-container" [class.active]="activeBrushMode === 'object'">
            <span class="material-symbols-outlined color-indicator" [ngStyle]="{ color: objectBrushColor }">
                circle
            </span>
            <button (click)="setBrushMode('object')">
                <span class="material-symbols-outlined" matTooltip="Object brush">brush</span>
            </button>
            <div *ngIf="showColorPicker && activeBrushMode === 'object'" class="color-panel">
                <color-sketch [color]="objectBrushColor" (onChangeComplete)="onColorChange($event)"></color-sketch>
            </div>
        </div>

        <div class="together color-picker-container" [class.active]="activeBrushMode === 'background'">
            <span class="material-symbols-outlined color-indicator" [ngStyle]="{ color: backgroundBrushColor }">
                circle
            </span>
            <button (click)="setBrushMode('background')">
                <span class="material-symbols-outlined" matTooltip="Background brush">slide_library</span>
            </button>
            <div *ngIf="showColorPicker && activeBrushMode === 'background'" class="color-panel">
                <color-sketch [color]="backgroundBrushColor" (onChangeComplete)="onColorChange($event)"></color-sketch>
            </div>
        </div>

        <div class="eraser">
            <button><span class="material-symbols-outlined" matTooltip="Eraser">
                    backspace
                </span></button>
        </div>

        <div class="together zoom">
            <button (click)="zoomIn()">
                <span class="material-symbols-outlined" matTooltip="Zoom In">zoom_in</span>
            </button>
            <button (click)="zoomOut()">
                <span class="material-symbols-outlined" matTooltip="Zoom Out">zoom_out</span>
            </button>
            <span class="zoom-label">{{ (zoomLevel * 100) | number:'1.0-0' }}%</span>
        </div>


        <div class="together">
            <button (click)="clearCanvas()">
                <span class="material-symbols-outlined" matTooltip="Undo">undo</span>
            </button>
            <button><span class="material-symbols-outlined" matTooltip="Redo">redo</span></button>
        </div>

        <div class="download">
            <button (click)="toggleDownloadDropdown($event)">
                <span class="material-symbols-outlined" matTooltip="Download">download</span>
            </button>

            <div class="download-dropdown" *ngIf="showDownloadDropdown" appClickOutside
                (clickOutside)="closeDownloadDropdown()">
                <button class="dropdown-item" (click)="downloadAnnotatedImage()">
                    Download Annotations
                </button>
                <mat-divider></mat-divider>
                <button class="dropdown-item" (click)="downloadAnnotations()">
                    Download Markers
                </button>
            </div>
        </div>

        <div class="user-menu">
            <app-profile-symbol></app-profile-symbol>
        </div>
    </div>

    <div class="images-area">
        <div class="image-block">
            <h3>Original Image</h3>
            <div class="image-container" (mousemove)="onMouseMove($event)" (mouseleave)="hideBrush()"
                (mousedown)="startDrawing($event)" (mouseup)="stopDrawing()" (mouseout)="stopDrawing()">

                <img [src]="imageUrl" alt="Original Image" #imageElement />

                <canvas #drawCanvas class="draw-layer"></canvas>

                <div class="brush-cursor" *ngIf="showBrush" [ngStyle]="{
                    top: brushY + 'px',
                    left: brushX + 'px',
                    background: brushColor,
                    width: brushSize + 'px',
                    height: brushSize + 'px'
                    }">
                </div>
            </div>
        </div>

        <div class="image-block">
            <h3>Segmented/Annotated Image</h3>
            <img [src]="segmentedImageUrl || imageUrl" alt="Segmented Image" class="grayscale" />
        </div>
    </div>
</div>