<div class="register">
    <div class="register-container">
        <div class="title">
            <h2>Register</h2>
        </div>

        <form class="register-form" #form="ngForm" (ngSubmit)="onRegister()">
            <mat-form-field class="name">
                <mat-label>Full name</mat-label>
                <input matInput placeholder="Your name" [formControl]="name" required />
                @if (name.invalid) {
                <mat-error>{{ nameErrorMessage() }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="email">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="dentistry@example.com" [formControl]="email"
                    (blur)="updateEmailErrorMessage()" required />
                @if (email.invalid) {
                <mat-error>{{emailErrorMessage()}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="role">
                <mat-label>Role</mat-label>
                <mat-select [formControl]="role" required>
                    <mat-option value="student">Student</mat-option>
                    <mat-option value="professor">Professor</mat-option>
                    <mat-option value="intern">Intern</mat-option>
                    <mat-option value="computerscience">Computer Science</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="password">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" required />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                @if (password.invalid) {
                <mat-error>{{ passwordErrorMessage() }}</mat-error>
                }
            </mat-form-field>


            <mat-form-field class="confirm-password">
                <mat-label>Re-enter your password</mat-label>
                <input matInput [type]="hideConfirm() ? 'password' : 'text'" [formControl]="confirmPassword" required />
                <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm()">
                    <mat-icon>{{ hideConfirm() ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                @if (confirmPassword.invalid || passwordMismatch) {
                <mat-error>The passwords do not match</mat-error>
                }
            </mat-form-field>

            @if (errorMessage()) {
            <div class="error">
                {{ errorMessage() }}
            </div>
            }

            <button mat-raised-button color="primary" [disabled]="formInvalid" type="submit">
                Register
            </button>
        </form>

        <a href="/" class="login-link">Already have an account?</a>
    </div>

</div>